/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.view-transition {
  background-color: #b6b6b6;
  height: 500px;
  width: 500px;
}

.ui-view-container {
  position: relative;
}

.view-transition.ng-leave {
  transition: 3s all;
  position: absolute;
  margin: 0;
}
.view-transition.ng-leave.ng-leave-active {
  opacity: 0;
}

p {
  margin: 0;
}

.view-transition.ng-enter {
  transition: 3s all;
  position: absolute;
  opacity: 0;
}
.view-transition.ng-enter.ng-enter-active {
  opacity: 1;
}

.loading-view {
  background-color: #b6b6b6;
  height: 500px;
  width: 500px;
}